.post {
    //background-color: #ffffff;
    border-radius: 2px;
    // box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;

}

.post .wrap-ut {
    width: 85%;
}

.post .posttext {
    width: 85%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #989c9e;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 25px;
    margin-left: 20px;

}
.posttext p{
  margin-left: 40px;
}


.post .postinfo {
    width: 15%;
    border-left: solid 1px #f1f1f1;
}

.post  img{
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 20px;
}
.post .icons {
    width: 48px;
    border-top: solid 1px #f1f1f1;
    margin-top: 12px;
    padding-top: 7px;
}

.post h2 {
    color: #363838;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post .comments {
    border-bottom: solid 1px #f1f1f1;
    padding: 18px 0 25px 0;
    text-align: center;
}


.post .comments .commentbg {
    background-color: $color-green-theme;
    border: none;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    position: relative;
}



.post .comments .commentbg .mark {
    width: 11px;
    height: 11px;
    background-color: #bdc3c7;
    position: absolute;
    bottom: 0;
    left: 43%;
    margin-bottom: -5px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

.post .views {
    border-bottom: solid 1px #f1f1f1;
    color:#9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    line-height: 29px;
}

.post .views i {
    font-size: 14px;
}

.post .time {
    color:#9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    line-height: 29px;

}

.post .time i {
    font-size: 14px;
}

.PostButton{
  box-shadow: none;
  color: #697683;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  background: transparent;
  border: none;
  padding:none;
  outline: none;
  cursor: pointer;
}

.modalContent .commentCard {
  margin-top: 10px;
  position: relative;
  height: 100%;
}
.modalContent .commentCard .comments{
  overflow: auto;
  position: relative;
  height: 65%;
}
