div.ElementLabelErrorInput {
	height: 5.2rem;

	div.top {
		height: 1.4rem;
		}

	div.mid {
		height: auto;
	}
	div.bottom {
		height: auto;
		span.errorText {
			color: $color-red-1;
		}
	}
	div.marginTop-15px{
		margin-top: -15px;
	}
}
