/*--- Sidebar ---*/

.sidebarblock {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.sidebarblock h3 {
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    margin: 0;
    padding: 20px;


}

.sidebarblock .divline {
    height: 1px;
    line-height: 1px;
    border-bottom: solid 1px #f1f1f1;
}

.sidebarblock .blocktxt {
    padding:20px;
}

ul.cats li {
    list-style: none;
    display: block;
    margin:0;
    padding:0;
    line-height: 30px;
}

ul.cats {
    margin: 0;
    padding: 0;
}

ul.cats li a {
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 30px;
}

ul.cats .badge {
    font-size: 12px;
    color: #ffffff;
    font-family: 'Open Sans Bold', sans-serif;
    margin-top: 7px;
    border: none;
}


.sidebarblock .blocktxt {

    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;

}


.sidebarblock .blocktxt .smal {
    font-size: 12px;
}


/*====================================Home Cotnent====================================================*/
.homeSideContent li{
  list-style-type: none;
  text-align: center;
}

/*====================================Filter Buttons====================================================*/
.contentSearch input{
  margin: 22px 0px;
  width: 100%;
  height: 30%;
  padding: 15px 0;
  border-radius: $margin20;
  border: solid 1px $color-green-theme;
  outline: none;
  text-align:center;
  float: right;
}
.contentSearch select{
  width: 100%;
  background-position: -300px 0;
}
.contentSearch input:focus, .contentSearch button:focus{
  outline: none;
}
.contentSearch input:hover{
  background-color: $color-green-theme;
}
.contentSearch button{
  margin: 25px 0px;
  width: 50%;
  border: solid 1px $color-green-theme;
  border-radius: $margin20;
  background: none;
  min-width: 100px;
  cursor: pointer;
}

.contentSearch button:hover{
  background-color: $color-green-theme;
  color: white;
}
@media (max-width:575px){
  .contentSearch button{
    width: 100%;
  }
  .contentSearch select{
    background-position: -600px 0;
  }
}

/*====================================Post Form====================================================*/
 .postForm{
}
.postForm .row{
  margin: 0;
  padding-left:0;
  background-color: white;
  border: solid 1px $color-green-theme;
  border-radius:20px;
}
.postForm img {
 width:20px;
 height:20px;
 position: relative;
 float: left;
 top: 0;
 left: 0;
 border-radius: 50px;
 margin: 20px 10px 10px 10px;
}
.postformImage input{
  position: relative;
  height: 100%;
  width:100%;
}
.postForm .submittextarea{
  overflow:hidden;
  padding: 0;
  margin: 0px 10px 0px 0px;
  font-size: 15px;
  text-indent: 20px;
  text-align: justify;
  resize: none;
}
.submittextarea  textarea{
  width: 95%;
  overflow:hidden;
  padding: 0;
  font-size: 15px;
  border: none;
  text-align: justify;
  resize: none;
  margin-top: 10px;
}
.postForm textarea:focus{
  outline: none;
  background-color: white;
}
.postForm button{
  float:right;
  background: transparent;
  border: none;
  padding:none;
  position: relative;
  bottom: 3%;
  right: 5%;
  cursor: pointer;
}


/*=================================================ProfileContent========================================*/
.ViewProfile .row{
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}
.ProfileContent{
  width: 100%;
  background-color: white;
  margin: 20px 0px 20px 0px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  min-height: 80vh;
}
.ProfileContent .row{
  padding: 0;
  margin: 0;
}
.profileTabs{
  width: 100%;
  background-color: $color-green-theme;
  padding: 0;
  margin:0
}

.profileTabs .fileUpload, {
  width: 90px;
  height: 90px;
  border-radius:  20px;
}

.fileUpload input.upload{
  width: 100%;
  height: 100%;
}
.profileTabs ul{
  list-style: none;
  padding:0;
  width: 100%;
  text-align: center;
  color: white;

}

.naveItmes{
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.naveItmes button{
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 25px;
}

.naveItmes:hover button{
  color: $color-green-theme;
}
.naveItmes:hover {
  background-color: white;
}
.userProfileName{
  width: 90%;
  //text-align: center;
  //font-size: 50px;
  color: white;
  font-weight: bold;
  margin-top: 2%;
}

.userProfileButton{
    margin-top: 20%;
    background-color: white;
    cursor: pointer;
}

@media  (max-width: 600px)  {
  .userProfileName{
    margin-top: 0;
    text-align: center;
  }
  .userProfileButton{
      margin-top: 0%;
    }
  .pictureShrink{
    height: 50%;
    justify-content: center;
    display: flex;
  }
  .profileTabs img{
  width: 50%;
  height: 50%;
  margin-top:20px;
  }
}
/*==============================================Messages=====================================================*/
.buttonOverlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  cursor: pointer;
  //outline: none;
  border: none;
}
.buttonOverlay:hover, .buttonOverlay:focus, textarea:focus{
  outline: none;
}


.messageList{
  min-height: 600px;
}

.messageItems{

}
.messgaeMetta{
  color:#fff;
  overflow: hidden;
  border-radius: 0px;
  text-align: center;
  transition:all 0.4s;
  background-size: 100%;
  margin-top: 10px;
}
.messgaeMetta input{
  width: 100%;
  height: 100%;
  border: $color-green-theme;
  position: relative;
}
.messgaeMetta .messageMettaOverlay {
  background: rgba(64, 84, 94,0.5);
  width: inherit;
  height: inherit;
  z-index: 10;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.paddingZero{
  margin:0;
  padding:0;
  max-width: 80px;
}


.hrColor{
  background-color: white;
  color: white;
  margin-top: 0px;
  padding-left: 0;
  margin-left: 0;
}
.boarder{
  border: solid 1px $color-green-theme;
}
.messageB{
  position: relative;
  bottom: 0;
}
.messageB .col-sm-2, .messageB .col-sm-6{
  padding:0;
  margin: 0;
}
.messageB textarea{
  border: solid 1px $color-green-theme;
  border-radius: 10px 0px 0px 10px;
  resize: none;
  outline: none;
  width: 80%;
}
.messageB button{
    position: relative;
    right: 0;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
}
.messageDisplay{
  min-height: 50vh;
  overflow-y: scroll;
  //border: solid 1px $color-green-theme;
}

.sent, .received{
  margin-top:20px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  color: white;

}

.sent{
  justify-content: flex-start;
}

.sent .messText {
  position: relative;
  background: #00aabb;
  border-radius: .4em;
  margin-left: 20px;
  margin-right: 20px;
}

.received .messText{
  position: relative;
  background: grey;
  border-radius: .4em;
  margin-left: 20px;
  margin-right: 20px;
}

.sent .messText::after{
  position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
  content: '';
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.received .messText:after{
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: grey;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.received{
  justify-content: flex-end;
  text-align: right;
}
