
/*--- Header ---*/
.header{
margin: 0;
padding: 0;
width:100%;
height: 200px;
color:#fff;
overflow: hidden;
position: relative;


}
.header img{
  width: 100%;
  height: 200px;
  margin: 0;
  image-resolution: 900dpi;
  z-index: -1;
  position: relative;
}
.header .headeroverlay{
  position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 height: 100%;
 width: 100%;
   z-index: 10;
   background: rgba(64, 84, 94,0.5);
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.headeroverlay p{
  text-align:right;
  font-size: 100px;
  text-transform: capitalize;
  margin-top: 2%;
  margin-right: 5%;
  text-decoration: underline;
}

.headernav {
    max-height: 200px;
    border-bottom: 1px solid #c9cccd;
    background-color:  $color-green-theme;
    color: white;
}
.headernav a, .headernav .wrap button, .headernav .dropdown button{
  color: white;
}
.headernav .dropdown .dropdown-menu a, .headernav .dropdown .dropdown-menu button{
  color: $color-green-theme;
}
.wrap {
  position: relative;
  right: 0;
}
.wrap button{
  float:  left;
}

.headernav .search .txt {
    width: 80%;
}

.headernav input {
    border: none;
    box-shadow: none;
    background-color: #f3f5f9;
    color: #363838;
    font-size: 14px;
    padding: 8px 19px;
    height: 38px;
}

.navLinksTop{
  margin-top: 2%;
}
.wrap a {
  font-size: 18px;
  margin: 2% 0 0px 0;
  padding-top: 15px;
}
.headernav button {
    box-shadow: none;
    color: #697683;
    font-size: 18px;
    margin: 20px 0 20px 0;
    background: transparent;
    border: none;
    padding:none;
    outline: none;
}

.headernav button:hover{
  outline: none;
  cursor: pointer;
}

.headernav .dropdown-menu{
  top:70%;
  left:2%;
}
.dropdown-menu a{
  margin-left: 30%;
  padding: 0;
}
.dropdown-menu button{
  margin: 0 0 0 30%;
  padding: 0;
}
.dropdown-menu hr{
  margin-top: 30%;
}
