#movingBallG{
	position:relative;
	width:500px;
	height:20px;
	margin:auto;
}
.movingBallG{
	background-color:#000000;
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:10px;
	border-radius:0px;
		-o-border-radius:0px;
		-ms-border-radius:0px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
	animation-name:bounce_movingBallG;
		-o-animation-name:bounce_movingBallG;
		-ms-animation-name:bounce_movingBallG;
		-webkit-animation-name:bounce_movingBallG;
		-moz-animation-name:bounce_movingBallG;
	animation-duration:1.3s;
		-o-animation-duration:1.3s;
		-ms-animation-duration:1.3s;
		-webkit-animation-duration:1.3s;
		-moz-animation-duration:1.3s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}



@keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:50%;
	}

	100%{
		left:0px;
	}
}

@-o-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:236px;
	}

	100%{
		left:0px;
	}
}

@-ms-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:236px;
	}

	100%{
		left:0px;
	}
}

@-webkit-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:236px;
	}

	100%{
		left:0px;
	}
}

@-moz-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:236px;
	}

	100%{
		left:0px;
	}
}
