$color-red: #e60000;
$color-red-light: #ffb3b3;
$color-red-dark: #b30000;

$color-grey: #808080;
$color-grey-light: #d9d9d9;
$color-grey-dark: #404040;

$color-blue: #9999ff;
$color-blue-light: #0000ff;
$color-blue-dark: #000099;

$color-green-theme:#1abc9c;
