$margin0:0px;
$margin10:10px;
$margin20:20px;
$margin30:30px;
$margin40:40px;
$margin50:50px;
$margin60:60px;
$margin70:70px;
$margin80:80px;
$margin90:90px;
$margin100:100px;

$padding0:0px;
$padding10:10px;
$padding20:20px;
$padding30:30px;
$padding40:40px;
$padding50:50px;
$padding60:60px;
$padding70:70px;
$padding80:80px;
$padding90:90px;
$padding100:100px;

.marginTop{
  margin-top: 40px
}

.marginBottom{
  margin-bottom: 40px
}

.paddingTop{
  padding-top: 20px;
}

.margPadZero{
  margin-bottom: $margin0;
  padding-bottom: $padding0;
}
