/*General*/
body {
    // background-color: #ecf0f1;
    //border-top: solid 1px #e0e4e5;
}
.content{
  margin-top: 2%
}

/*==========================================LANDINGPAGE==================================================*/
.LandingP{
  background: #44A08D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  overflow-y: scroll;

}
.pageFooter{
  text-align: center;
}

 .pageFooter p{
  position: relative;
  margin-top: 10%;
  font-size: 30;
  color: white;
}
/*===============================================HomePage=================================================*/
.Content{
  padding-bottom: 20px
}

.sideContent{
  //border-style: groove;
  padding-left: 0;
  margin-left :0;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: 	#00C9A7;
  box-shadow: 6px 8px 6px -6px black;
}
.mainContent{
  padding-top:10px;
}

/*===============================================DashBoardPage=================================================*/


/*==============================================ProfilePage===============================================*/
InputBox {
    margin: 40px 25px;
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #1abc9c;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
            transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
  }

  /*Medi devices*/
  @media (max-width: 767px) {

    /*--- index.html ---*/
    .container-fluid {
        padding: 0;
    }



    .post .posttext {
        width: 70%;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .post .comments .commentbg {
        font-size: 12px;
        padding: 7px;
        min-width: 35px;
    }
    .post .time i {
        display: block;
        margin-top: 5px;
    }

    .post .views i {
        display: block;
        margin-top: 5px;
    }

    .post .comments .commentbg .mark {
        left: 36%;
    }

    .post .time,
    .post .views,
    .post .views {
    }


    .headernav {
        height: auto;
    }
}

/*-----------------------------------------------------------------*/
/*--- Small devices (768 - 991px) ---*/

@media (min-width: 768px) and (max-width: 991px) {

    .container-fluid {
        padding: 0;
    }

    .post .posttext {
        width: 85%;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .post .comments .commentbg {
        font-size: 12px;
        padding: 7px;
        min-width: 35px;
    }
    .post .time i {
        display: block;
        margin-top: 5px;
    }

    .post .views i {
        display: block;
        margin-top: 5px;
    }

    .post .comments .commentbg .mark {
        left: 36%;
    }

    .headernav {
        height: auto;

    }
  }



/*-----------------------------------------------------------------*/
/*--- Medium devices (992-1200px) ---*/
@media (min-width: 992px) and (max-width: 1200px) {
    .container-fluid {
        padding: 0;
    }

    /* end 2 */
}


/*-----------------------------------------------------------------*/
/*--- Large devices (more 1200px) ---*/
@media (min-width: 1201px) {
    .container-fluid {
        padding: 0;
    }

    .container {
        padding: 0;
    }
}
