.spaceTop{
      padding-top: 4%;
      overflow: hidden;
}
.divForm{
  padding-left: 20px;
}

.SignupFormpadding{
  padding-top: 2%
}

.SignupFormpadding form,  {
  width: 80%;
  margin: 0 auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
}
// .SignupFormpadding .divForm{
//     padding-left: 0px;
// }
.SignupFormpadding input, .SignupFormpadding select{
width: 100%;
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 95%, #1abc9c 4%);
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, #1abc9c 4%);
}
 .spaceTop form {
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  background-color: white;
}

.spaceTop  form h1, form h1 .SignupFormpadding {
  height: 50px;
  width: 100%;
  font-size: 18px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

form h1 {
  box-sizing: border-box;
  padding: 10px 0px 10px 55px;
  font-size:20px;
}
form input, select {
  margin: 20px 0px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  //border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}

form input:focus, form input:valid, select:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

form input:focus::-webkit-input-placeholder, form input:valid::-webkit-input-placeholder, select:focus::-webkit-input-placeholder{
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

form button.social-signin {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 17px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

form button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

form button.social-signin.twitter {
  background: #55ACEE;
}
.SignupFormpadding select{
  padding-top: 6px;
}
