/*Modal CSS*/
body .colourOverlay{
  background: rgba(64, 84, 94,0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  top:0;
  left:0;
  position: fixed;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.CustomModal{
  position: fixed;
  top: 20%;
  left:25%;
  right: 20%;
  bottom: 15%;
  max-width: 48%;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  z-index: 10;
  background-color: white;
  min-width: 200px;
  height: auto;
  overflow: hidden;
}
.modalContent{
  //overflow: scroll;
  position: relative;
  background-color: white;
  //height: inherit;
  height: 100%;
}

.CustomModal .mHeader{
    height: 50px;
    width: 100%;
    resize: vertical;
    background: #18aa8d;
    color: white;

    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.CustomModal .btnClose{
  float: right;
  background-color: transparent;
  outline: none;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 8px 20px 0px 0px;
  cursor: pointer;
}

.CustomModal .mTitle{
  width: 70%;
  margin: 8px 0px 0px 20px;
  padding: 0px 0px 0px 0px;
  float: left;
  font-size: 25px;
}

.modalbutton:focus{
 cursor: pointer;
}
.CustomModal:hover body{
  overflow: hidden;
}
