@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../node_modules/font-awesome/css/font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");
html, body {
  padding: 0;
  margin: 0;
  min-width: 400px; }

.centerText {
  text-align: center; }

.withHeight100 {
  width: 100%;
  height: 100%; }

.floatRight {
  float: right; }

.marginTop {
  margin-top: 40px; }

.marginBottom {
  margin-bottom: 40px; }

.paddingTop {
  padding-top: 20px; }

.margPadZero {
  margin-bottom: 0px;
  padding-bottom: 0px; }

.cursorPointer {
  cursor: pointer; }

.buttonTheme {
  background-color: #1abc9c; }

.themeColourGrey {
  background-color: grey; }

.noRadius {
  border-radius: 0px;
  border: none; }

/*General*/
.content {
  margin-top: 2%; }

/*==========================================LANDINGPAGE==================================================*/
.LandingP {
  background: #44A08D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #093637, #44A08D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #093637, #44A08D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  overflow-y: scroll; }

.pageFooter {
  text-align: center; }

.pageFooter p {
  position: relative;
  margin-top: 10%;
  font-size: 30;
  color: white; }

/*===============================================HomePage=================================================*/
.Content {
  padding-bottom: 20px; }

.sideContent {
  padding-left: 0;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #00C9A7;
  box-shadow: 6px 8px 6px -6px black; }

.mainContent {
  padding-top: 10px; }

/*===============================================DashBoardPage=================================================*/
/*==============================================ProfilePage===============================================*/
InputBox {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252; }

/*Medi devices*/
@media (max-width: 767px) {
  /*--- index.html ---*/
  .container-fluid {
    padding: 0; }
  .post .posttext {
    width: 70%;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px; }
  .post .comments .commentbg {
    font-size: 12px;
    padding: 7px;
    min-width: 35px; }
  .post .time i {
    display: block;
    margin-top: 5px; }
  .post .views i {
    display: block;
    margin-top: 5px; }
  .post .comments .commentbg .mark {
    left: 36%; }
  .headernav {
    height: auto; } }

/*-----------------------------------------------------------------*/
/*--- Small devices (768 - 991px) ---*/
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    padding: 0; }
  .post .posttext {
    width: 85%;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px; }
  .post .comments .commentbg {
    font-size: 12px;
    padding: 7px;
    min-width: 35px; }
  .post .time i {
    display: block;
    margin-top: 5px; }
  .post .views i {
    display: block;
    margin-top: 5px; }
  .post .comments .commentbg .mark {
    left: 36%; }
  .headernav {
    height: auto; } }

/*-----------------------------------------------------------------*/
/*--- Medium devices (992-1200px) ---*/
@media (min-width: 992px) and (max-width: 1200px) {
  .container-fluid {
    padding: 0; }
  /* end 2 */ }

/*-----------------------------------------------------------------*/
/*--- Large devices (more 1200px) ---*/
@media (min-width: 1201px) {
  .container-fluid {
    padding: 0; }
  .container {
    padding: 0; } }

/*--- Sidebar ---*/
.sidebarblock {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px; }

.sidebarblock h3 {
  color: #363838;
  font-size: 14px;
  font-family: 'Open Sans Bold', sans-serif;
  margin: 0;
  padding: 20px; }

.sidebarblock .divline {
  height: 1px;
  line-height: 1px;
  border-bottom: solid 1px #f1f1f1; }

.sidebarblock .blocktxt {
  padding: 20px; }

ul.cats li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 30px; }

ul.cats {
  margin: 0;
  padding: 0; }

ul.cats li a {
  font-size: 14px;
  color: #363838;
  font-family: 'Open Sans Light', sans-serif;
  line-height: 30px; }

ul.cats .badge {
  font-size: 12px;
  color: #ffffff;
  font-family: 'Open Sans Bold', sans-serif;
  margin-top: 7px;
  border: none; }

.sidebarblock .blocktxt {
  font-size: 14px;
  color: #363838;
  font-family: 'Open Sans Light', sans-serif; }

.sidebarblock .blocktxt .smal {
  font-size: 12px; }

/*====================================Home Cotnent====================================================*/
.homeSideContent li {
  list-style-type: none;
  text-align: center; }

/*====================================Filter Buttons====================================================*/
.contentSearch input {
  margin: 22px 0px;
  width: 100%;
  height: 30%;
  padding: 15px 0;
  border-radius: 20px;
  border: solid 1px #1abc9c;
  outline: none;
  text-align: center;
  float: right; }

.contentSearch select {
  width: 100%;
  background-position: -300px 0; }

.contentSearch input:focus, .contentSearch button:focus {
  outline: none; }

.contentSearch input:hover {
  background-color: #1abc9c; }

.contentSearch button {
  margin: 25px 0px;
  width: 50%;
  border: solid 1px #1abc9c;
  border-radius: 20px;
  background: none;
  min-width: 100px;
  cursor: pointer; }

.contentSearch button:hover {
  background-color: #1abc9c;
  color: white; }

@media (max-width: 575px) {
  .contentSearch button {
    width: 100%; }
  .contentSearch select {
    background-position: -600px 0; } }

/*====================================Post Form====================================================*/
.postForm .row {
  margin: 0;
  padding-left: 0;
  background-color: white;
  border: solid 1px #1abc9c;
  border-radius: 20px; }

.postForm img {
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
  top: 0;
  left: 0;
  border-radius: 50px;
  margin: 20px 10px 10px 10px; }

.postformImage input {
  position: relative;
  height: 100%;
  width: 100%; }

.postForm .submittextarea {
  overflow: hidden;
  padding: 0;
  margin: 0px 10px 0px 0px;
  font-size: 15px;
  text-indent: 20px;
  text-align: justify;
  resize: none; }

.submittextarea textarea {
  width: 95%;
  overflow: hidden;
  padding: 0;
  font-size: 15px;
  border: none;
  text-align: justify;
  resize: none;
  margin-top: 10px; }

.postForm textarea:focus {
  outline: none;
  background-color: white; }

.postForm button {
  float: right;
  background: transparent;
  border: none;
  padding: none;
  position: relative;
  bottom: 3%;
  right: 5%;
  cursor: pointer; }

/*=================================================ProfileContent========================================*/
.ViewProfile .row {
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 20px; }

.ProfileContent {
  width: 100%;
  background-color: white;
  margin: 20px 0px 20px 0px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  min-height: 80vh; }

.ProfileContent .row {
  padding: 0;
  margin: 0; }

.profileTabs {
  width: 100%;
  background-color: #1abc9c;
  padding: 0;
  margin: 0; }

.profileTabs .fileUpload {
  width: 90px;
  height: 90px;
  border-radius: 20px; }

.fileUpload input.upload {
  width: 100%;
  height: 100%; }

.profileTabs ul {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
  color: white; }

.naveItmes {
  float: left;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px; }

.naveItmes button {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 25px; }

.naveItmes:hover button {
  color: #1abc9c; }

.naveItmes:hover {
  background-color: white; }

.userProfileName {
  width: 90%;
  color: white;
  font-weight: bold;
  margin-top: 2%; }

.userProfileButton {
  margin-top: 20%;
  background-color: white;
  cursor: pointer; }

@media (max-width: 600px) {
  .userProfileName {
    margin-top: 0;
    text-align: center; }
  .userProfileButton {
    margin-top: 0%; }
  .pictureShrink {
    height: 50%;
    justify-content: center;
    display: flex; }
  .profileTabs img {
    width: 50%;
    height: 50%;
    margin-top: 20px; } }

/*==============================================Messages=====================================================*/
.buttonOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  cursor: pointer;
  border: none; }

.buttonOverlay:hover, .buttonOverlay:focus, textarea:focus {
  outline: none; }

.messageList {
  min-height: 600px; }

.messgaeMetta {
  color: #fff;
  overflow: hidden;
  border-radius: 0px;
  text-align: center;
  transition: all 0.4s;
  background-size: 100%;
  margin-top: 10px; }

.messgaeMetta input {
  width: 100%;
  height: 100%;
  border: #1abc9c;
  position: relative; }

.messgaeMetta .messageMettaOverlay {
  background: rgba(64, 84, 94, 0.5);
  width: inherit;
  height: inherit;
  z-index: 10;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); }

.paddingZero {
  margin: 0;
  padding: 0;
  max-width: 80px; }

.hrColor {
  background-color: white;
  color: white;
  margin-top: 0px;
  padding-left: 0;
  margin-left: 0; }

.boarder {
  border: solid 1px #1abc9c; }

.messageB {
  position: relative;
  bottom: 0; }

.messageB .col-sm-2, .messageB .col-sm-6 {
  padding: 0;
  margin: 0; }

.messageB textarea {
  border: solid 1px #1abc9c;
  border-radius: 10px 0px 0px 10px;
  resize: none;
  outline: none;
  width: 80%; }

.messageB button {
  position: relative;
  right: 0;
  border-radius: 0px 10px 10px 0px;
  height: 100%; }

.messageDisplay {
  min-height: 50vh;
  overflow-y: scroll; }

.sent, .received {
  margin-top: 20px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  color: white; }

.sent {
  justify-content: flex-start; }

.sent .messText {
  position: relative;
  background: #00aabb;
  border-radius: .4em;
  margin-left: 20px;
  margin-right: 20px; }

.received .messText {
  position: relative;
  background: grey;
  border-radius: .4em;
  margin-left: 20px;
  margin-right: 20px; }

.sent .messText::after {
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid transparent;
  border-right-color: #00aabb;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px; }

.received .messText:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: grey;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px; }

.received {
  justify-content: flex-end;
  text-align: right; }

/*Modal CSS*/
body .colourOverlay {
  background: rgba(64, 84, 94, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); }

.CustomModal {
  position: fixed;
  top: 20%;
  left: 25%;
  right: 20%;
  bottom: 15%;
  max-width: 48%;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  z-index: 10;
  background-color: white;
  min-width: 200px;
  height: auto;
  overflow: hidden; }

.modalContent {
  position: relative;
  background-color: white;
  height: 100%; }

.CustomModal .mHeader {
  height: 50px;
  width: 100%;
  resize: vertical;
  background: #18aa8d;
  color: white;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); }

.CustomModal .btnClose {
  float: right;
  background-color: transparent;
  outline: none;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 8px 20px 0px 0px;
  cursor: pointer; }

.CustomModal .mTitle {
  width: 70%;
  margin: 8px 0px 0px 20px;
  padding: 0px 0px 0px 0px;
  float: left;
  font-size: 25px; }

.modalbutton:focus {
  cursor: pointer; }

.CustomModal:hover body {
  overflow: hidden; }

/*--- Header ---*/
.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  color: #fff;
  overflow: hidden;
  position: relative; }

.header img {
  width: 100%;
  height: 200px;
  margin: 0;
  image-resolution: 900dpi;
  z-index: -1;
  position: relative; }

.header .headeroverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(64, 84, 94, 0.5);
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); }

.headeroverlay p {
  text-align: right;
  font-size: 100px;
  text-transform: capitalize;
  margin-top: 2%;
  margin-right: 5%;
  text-decoration: underline; }

.headernav {
  max-height: 200px;
  border-bottom: 1px solid #c9cccd;
  background-color: #1abc9c;
  color: white; }

.headernav a, .headernav .wrap button, .headernav .dropdown button {
  color: white; }

.headernav .dropdown .dropdown-menu a, .headernav .dropdown .dropdown-menu button {
  color: #1abc9c; }

.wrap {
  position: relative;
  right: 0; }

.wrap button {
  float: left; }

.headernav .search .txt {
  width: 80%; }

.headernav input {
  border: none;
  box-shadow: none;
  background-color: #f3f5f9;
  color: #363838;
  font-size: 14px;
  padding: 8px 19px;
  height: 38px; }

.navLinksTop {
  margin-top: 2%; }

.wrap a {
  font-size: 18px;
  margin: 2% 0 0px 0;
  padding-top: 15px; }

.headernav button {
  box-shadow: none;
  color: #697683;
  font-size: 18px;
  margin: 20px 0 20px 0;
  background: transparent;
  border: none;
  padding: none;
  outline: none; }

.headernav button:hover {
  outline: none;
  cursor: pointer; }

.headernav .dropdown-menu {
  top: 70%;
  left: 2%; }

.dropdown-menu a {
  margin-left: 30%;
  padding: 0; }

.dropdown-menu button {
  margin: 0 0 0 30%;
  padding: 0; }

.dropdown-menu hr {
  margin-top: 30%; }

.spaceTop {
  padding-top: 4%;
  overflow: hidden; }

.divForm {
  padding-left: 20px; }

.SignupFormpadding {
  padding-top: 2%; }

.SignupFormpadding form {
  width: 80%;
  margin: 0 auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  background-color: white;
  overflow: hidden; }

.SignupFormpadding input, .SignupFormpadding select {
  width: 100%;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 95%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, #1abc9c 4%); }

.spaceTop form {
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  background-color: white; }

.spaceTop form h1, form h1 .SignupFormpadding {
  height: 50px;
  width: 100%;
  font-size: 18px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); }

form h1 {
  box-sizing: border-box;
  padding: 10px 0px 10px 55px;
  font-size: 20px; }

form input, select {
  margin: 20px 0px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #0e6252; }

form input:focus, form input:valid, select:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0; }

form input:focus::-webkit-input-placeholder, form input:valid::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important; }

form button.social-signin {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 17px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); }

form button:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2); }

form button.social-signin.twitter {
  background: #55ACEE; }

.SignupFormpadding select {
  padding-top: 6px; }

.post {
  border-radius: 2px;
  margin-bottom: 20px; }

.post .wrap-ut {
  width: 85%; }

.post .posttext {
  width: 85%;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #989c9e;
  font-size: 14px;
  font-family: 'Open Sans Light', sans-serif;
  line-height: 25px;
  margin-left: 20px; }

.posttext p {
  margin-left: 40px; }

.post .postinfo {
  width: 15%;
  border-left: solid 1px #f1f1f1; }

.post img {
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 20px; }

.post .icons {
  width: 48px;
  border-top: solid 1px #f1f1f1;
  margin-top: 12px;
  padding-top: 7px; }

.post h2 {
  color: #363838;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px; }

.post .comments {
  border-bottom: solid 1px #f1f1f1;
  padding: 18px 0 25px 0;
  text-align: center; }

.post .comments .commentbg {
  background-color: #1abc9c;
  border: none;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans Bold', sans-serif;
  position: relative; }

.post .comments .commentbg .mark {
  width: 11px;
  height: 11px;
  background-color: #bdc3c7;
  position: absolute;
  bottom: 0;
  left: 43%;
  margin-bottom: -5px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Opera, Chrome, and Safari */ }

.post .views {
  border-bottom: solid 1px #f1f1f1;
  color: #9da6aa;
  font-size: 12px;
  font-family: 'Open Sans Regular', sans-serif;
  text-align: center;
  line-height: 29px; }

.post .views i {
  font-size: 14px; }

.post .time {
  color: #9da6aa;
  font-size: 12px;
  font-family: 'Open Sans Regular', sans-serif;
  text-align: center;
  line-height: 29px; }

.post .time i {
  font-size: 14px; }

.PostButton {
  box-shadow: none;
  color: #697683;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  background: transparent;
  border: none;
  padding: none;
  outline: none;
  cursor: pointer; }

.modalContent .commentCard {
  margin-top: 10px;
  position: relative;
  height: 100%; }

.modalContent .commentCard .comments {
  overflow: auto;
  position: relative;
  height: 65%; }

.beach-card {
  max-width: 400px;
  width: 100%;
  height: 300px;
  color: #fff;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.4s;
  background-size: 100%; }

.beach-card .color-overlay {
  background: rgba(64, 84, 94, 0.5);
  width: inherit;
  height: inherit;
  z-index: 10;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); }

.beach-card:hover {
  box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75); }

.beach-card:hover .card-info {
  opacity: 1;
  bottom: 100px; }

.beach-card:hover .color-overlay {
  background: rgba(64, 64, 70, 0.8); }

.beach-card:hover h3:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%; }

@keyframes changeLetter {
  0% {
    width: 10%; }
  100% {
    width: 80%; } }

.card-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1); }

.card-info a {
  display: block;
  width: 100px;
  margin: 15px auto;
  background: #fff;
  color: #444;
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 0.8em; }

.card-info a:hover {
  background: #8e7c49;
  color: #fff; }

.card-info a:hover span {
  filter: brightness(10);
  opacity: 1; }

.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
  width: 100%;
  text-align: left; }

.utility-info:after {
  content: " ";
  background: url(https://nodws.github.io/NodPen/postItem/crown.svg) center no-repeat;
  background-size: 30px auto;
  display: block;
  opacity: 0.4;
  position: absolute;
  bottom: 25px;
  right: 15px;
  width: 30px;
  height: 15px; }

.utility-info a:hover {
  text-decoration: underline; }

.utility-list {
  list-style-type: none;
  margin: 0 0 10px 20px;
  padding: 0;
  width: 100%; }

.utility-list li {
  margin: 0 5px 0 0;
  padding: 3px 0 15px 0px;
  display: inline-block;
  font-size: 0.8em; }

.beachCardSpacing {
  margin-top: 20px; }

@media (max-width: 750px) {
  .utility-info {
    text-align: center; }
  .utility-info ul {
    width: 100%;
    margin: 0;
    box-sizing: border-box; }
  .utility-info li {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0; } }

@media (max-width: 500px) {
  .utility-info li:last-of-type {
    width: 100%; }
  .card-info {
    display: none; }
  .beach-card:hover .title-content, .title-content {
    margin-top: 40px; }
  .beach-card {
    height: 300px; }
  .beach-card h3 {
    font-size: 1.3em; } }

#movingBallG {
  position: relative;
  width: 500px;
  height: 20px;
  margin: auto; }

.movingBallG {
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 10px;
  border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  animation-name: bounce_movingBallG;
  -o-animation-name: bounce_movingBallG;
  -ms-animation-name: bounce_movingBallG;
  -webkit-animation-name: bounce_movingBallG;
  -moz-animation-name: bounce_movingBallG;
  animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal; }

@keyframes bounce_movingBallG {
  0% {
    left: 0px; }
  50% {
    left: 50%; }
  100% {
    left: 0px; } }

@-o-keyframes bounce_movingBallG {
  0% {
    left: 0px; }
  50% {
    left: 236px; }
  100% {
    left: 0px; } }

@-ms-keyframes bounce_movingBallG {
  0% {
    left: 0px; }
  50% {
    left: 236px; }
  100% {
    left: 0px; } }

@-webkit-keyframes bounce_movingBallG {
  0% {
    left: 0px; }
  50% {
    left: 236px; }
  100% {
    left: 0px; } }

@-moz-keyframes bounce_movingBallG {
  0% {
    left: 0px; }
  50% {
    left: 236px; }
  100% {
    left: 0px; } }

.fileUpload {
  overflow: hidden;
  margin: 10px; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.adminOptions button {
  width: 100%;
  height: 100px;
  background-color: #1abc9c;
  outline-color: #1abc9c;
  border-color: #1abc9c; }
